
			<% if(resp.nil?) %><b><span style="font-size: 16px;color: red;" ><%= resp %></span></b><% end %>
		       <% if(!resp.nil?) %>
				<div style="height: 300px;width:100%;overflow:auto;" id="response_div">
					<table border="1" id="response_tbl">
						<tr>	
							<th>CardTrxSummary   </th>
							<th>PaymentMethod    </th>
							<th>Payment_Type_ID  </th>
							<th>Sale             </th>
							<th>Authorization    </th>
							<th>PostAuth         </th>
							<th>ReturnAmt        </th>
							<th>Capture          </th>
							<th>TotalAmt         </th>
							<th>Sale_Cnt         </th>
							<th>Authorization_Cnt</th>
							<th>PostAuth_Cnt     </th>
							<th>Return_Cnt       </th>
							<th>Capture_Cnt      </th>
							<th>Cnt              </th>						
						</tr>
						  <%  if(!resp.empty?)
						    resp.each do |key, value|
						      %>
								<tr>
                                   <td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="capture_Cnt"/>-->
								   </td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="cnt"/>-->
									</td>								
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="cardTrxSummary"/>-->
										<%= value["Payment_Type_ID"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="paymentMethod"/>-->
										<%= value["Sale"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="payment_Type_ID"/>-->
										<%= value["Authorization"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="sale"/>-->
										<%= value["PostAuth"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="authorization"/>-->
										<%= value["Return"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="postAuth"/>-->
										<%= value["Capture"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="returnAmt"/>-->
										<%= value["TotalAmt"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="capture"/>-->
										<%= value["Sale_Cnt"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="totalAmt"/>-->
										<%= value["Authorization_Cnt"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="sale_Cnt"/>-->
										<%= value["PostAuth_Cnt"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="authorization_Cnt"/>-->
										<%= value["Return_Cnt"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="postAuth_Cnt"/>-->
										<%= value["Capture_Cnt"] %>
									</td>
									<td>
										<!--<bean:write name="getCardSummaryTrxResponse" property="return_Cnt"/>-->
										<%= value["Cnt"] %>
									</td>
									
								</tr>					
							<% end
							  else %>
							<tr><td colspan="15">No record found</td></tr>
						  <% end %>
					</table>
				</div>
				<% end %>
			
			 