
			<% if(resp.nil?) %><b><span style="font-size: 16px;color: red;" ><%= resp %></span></b><% end %>
		
		       <% if(!resp.nil?)%>
				<div style="height: 300px;width:100%;overflow:auto;" id="response_div">
					<table border="1" id="response_tbl"  id="response_tbl">
						<tr>	
							<th>TRX_HD_Key      </th>
							<th>Invoice_ID      </th>
							<th>Date_DT         </th>
							<th>Merchant_Key    </th>
							<th>TUser_Name_VC   </th>
							<th>Tip_Amt_MN      </th>
							<th>Approval_Code_CH</th>
							<th>Auth_Amt_MN     </th>
							<th>Account_Type_CH </th>
							<th>Last_Update_DT  </th>
							<th>Orig_TRX_HD_Key </th>
							<th>Result_CH       </th>
							<th>Result_Txt_VC   </th>
							<th>Settle_Date_DT  </th>
							<th>Settle_Flag_CH  </th>
							<th>Trans_Type_ID   </th>
							<th>Void_Flag_CH    </th>
							<th>CustomerID      </th>
							<th>AVS_Resp_CH     </th>
							<th>CV_Resp_CH      </th>
							<th>Host_Ref_Num_CH </th>
							<th>Zip_CH          </th>
							<th>Acct_Num_CH     </th>
							<th>Total_Amt_MN    </th>
							<th>Exp_CH          </th>
							<th>Name_on_Card_VC </th>
							<th>Type_CH         </th>
							<th>Cash_Back_Amt_MN</th>						
						</tr>
						  <% if(!resp.empty?)
						    resp.each do |resp, value|
                              %>
							   <tr>	
									<td>
										<!--<bean:write name="getCardTrxResponse" property="trx_HD_Key"/>-->
										<%= resp["TRX_HD_Key"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="invoice_ID"/>-->
										<%= resp["Invoice_ID"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="date_DT"/>-->
										<%= resp["Date_DT"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="merchant_Key"/>-->
										<%= resp["Merchant_Key"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="tuser_Name_VC"/>-->
										<%= resp["TUser_Name_VC"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="tip_Amt_MN"/>-->
										<%= resp["Tip_Amt_MN"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="approval_Code_CH"/>-->
										<%= resp["Approval_Code_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="auth_Amt_MN"/>-->
										<%= resp["Auth_Amt_MN"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="account_Type_CH"/>-->
										<%= resp["Account_Type_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="last_Update_DT"/>-->
										<%= resp["Last_Update_DT"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="orig_TRX_HD_Key"/>-->
										<%= resp["Orig_TRX_HD_Key"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="result_CH"/>-->
										<%= resp["Result_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="result_Txt_VC"/>-->
										<%= resp["Result_Txt_VC"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="settle_Date_DT"/>-->
										<%= resp["Settle_Date_DT"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="settle_Flag_CH"/>-->
										<%= resp["Settle_Flag_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="trans_Type_ID"/>-->
										<%= resp["Trans_Type_ID"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="void_Flag_CH"/>-->
										<%= resp["Void_Flag_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="customerID"/>-->
										<%= resp["CustomerID"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="avs_Resp_CH"/>-->
										<%= resp["AVS_Resp_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="cv_Resp_CH"/>-->
										<%= resp["CV_Resp_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="host_Ref_Num_CH"/>-->
										<%= resp["Host_Ref_Num_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="zip_CH"/>-->
										<%= resp["Zip_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="acct_Num_CH"/>-->
										<%= resp["Acct_Num_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="total_Amt_MN"/>-->
										<%= resp["Total_Amt_MN"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="exp_CH"/>-->
										<%= resp["Exp_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="name_on_Card_VC"/>-->
										<%= resp["Name_on_Card_VC"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="type_CH"/>-->
										<%= resp["Type_CH"] %>
									</td>
									<td>
										<!--<bean:write name="getCardTrxResponse" property="cash_Back_Amt_MN"/>-->
										<%= resp["Cash_Back_Amt_MN"] %>
									</td>
								</tr>					
							<% end
							else 
							%>
							<tr><td colspan="28">No record found</td></tr>
						   <% end %>
					</table>
				</div>
			 <% end %>
