<!-- Header starts-->
<div id="banner">
	<div class="logo"><a href="#">Payleap</a></div>
	<ul>
		<ul>
		<% if("merchant".eql?(selectedHeader))%>
<li><%= link_to "Merchant", {:action => "recurringreditcard", :controller => "recurringcreditcard"} , :class => "current-page" %></li>
		<%else%>
<li><%= link_to "Merchant", {:action => "recurringreditcard", :controller => "recurringcreditcard"} %></li>
		<% end %>
		
		<% if("transaction".eql?(selectedHeader)) %>
<li><%= link_to "Transaction", {:action => "index", :controller => "welcome"} , :class => "current-page"  %></li>
		<% else %>
<li><%= link_to "Transaction", {:action => "index", :controller => "welcome"} %></li>
		<% end %>
		<% if("report".eql?(selectedHeader)) %>
			<li><%= link_to "Report", {:action => "getcardtrx", :controller => "getcardtrx"} , :class => "current-page" %></li>
		<% else %>
			<li><%= link_to "Report", {:action => "getcardtrx", :controller => "getcardtrx"} %></li>
		<% end %>	
		</ul>
	</ul>
</div>

<!-- Left menu panel -->
<% if("merchant".eql?(selectedHeader))%>
	<div id="subnav">
		<ul id="sidenav">
			<li>Merchant</li>
			<% if("recurringCreditCard".eql?(selectedSubMenu)) %>
<li><%= link_to "RecurringCreditCard", {:action => "recurringreditcard", :controller => "recurringcreditcard"} , :class => "current-page" %></li>			
			<% else%>
				<li><%= link_to "RecurringCreditCard", {:action => "recurringreditcard", :controller => "recurringcreditcard" } %></li>
			<% end %>
					
			<%if("addRecurringCheck".eql?(selectedSubMenu)) %>
				<li><%= link_to "AddRecurringCheck", {:action => "addrecurringcheck", :controller => "addrecurringcheck" } , :class => "current-page"  %></li>			
			<% else %>
				<li><%= link_to "AddRecurringCheck", {:action => "addrecurringcheck", :controller => "addrecurringcheck"} %></li>
			<% end %>
			
			<% if("creditCardRecurringBilling".eql?(selectedSubMenu)) %>
				<li><%= link_to "ProcessCreditCard", {:action => "processcreditcardrecurringbilling", :controller => "processcreditcardrecurringbilling" } ,:class => "current-page"  %></li>			
			<% else %>
				<li><%= link_to "ProcessCreditCard", {:action => "processcreditcardrecurringbilling", :controller => "processcreditcardrecurringbilling"} %></li>
			<% end %>
			
			<% if("checkRecurringBilling".eql?(selectedSubMenu)) %>
				<li><%= link_to "ProcessCheck", {:action => "processcheckrecurringbilling", :controller => "processcheckrecurringbilling" } , :class => "current-page" %></li>			
			<% else %>
				<li><%= link_to "ProcessCheck", {:action => "processcheckrecurringbilling", :controller => "processcheckrecurringbilling" } %></li>
			<% end %>
			
			<%if("manageCheckInfo".eql?(selectedSubMenu)) %>
			<li><%= link_to "ManageCheckInfo", {:action => "managecheckinfo", :controller => "managecheckinfo"} , :class => "current-page" %></li>			
			<% else %>
				<li><%= link_to "ManageCheckInfo", {:action => "managecheckinfo", :controller => "managecheckinfo"} %></li>
			<% end %>
			
			<%if("manageCreditInfo".eql?(selectedSubMenu)) %>
				<li><%= link_to "ManageCreditInfo", {:action => "managecreditinfo", :controller => "managecreditinfo" } , :class => "current-page" %></li>			
			<% else %>
				<li><%= link_to "ManageCreditInfo", {:action => "managecreditinfo", :controller => "managecreditinfo"} %></li>
			<% end %>
			
			<%if("manageContract".eql?(selectedSubMenu)) %>
				<li><%= link_to "ManageContract", {:action => "managecontract", :controller => "managecontract" } , :class => "current-page" %></li>			
			<% else %>
				<li><%= link_to "ManageContract", {:action => "managecontract", :controller => "managecontract"} %></li>
			<% end %>
			
			<%if("manageCustomer".eql?(selectedSubMenu)) %>
			<li><%= link_to "ManageCustomer", {:action => "managecustomer", :controller => "managecustomer" } ,:class => "current-page" %></li>			
			<% else %>
				<li><%= link_to "ManageCustomer", {:action => "managecustomer", :controller => "managecustomer"} %></li>
			<% end %>
		</ul>
	</div>

<% end %>
<% if("transaction".eql?(selectedHeader)) %>

	<div id="subnav">
		<ul id="sidenav">
			<li>Transaction</li>
			<%if("transactionCard".eql?(selectedSubMenu)) %>
	     <li><%= link_to "Credit", {:action => "index", :controller => "welcome" } , :class => "current-page" %></li>		
			<% else %>
		  <li><%= link_to "Credit", {:action => "index", :controller => "welcome" } %></li>
			<% end %>
			<%if("transactionDebit".eql?(selectedSubMenu)) %>
            <li>
        <%= link_to "Debit", {:action => "transactprocessdebitcard", :controller => "transactdebitcard" } , :class => "current-page" %>
            </li>		
			<% else %>
				<li><%= link_to "Debit", {:action => "transactprocessdebitcard", :controller => "transactdebitcard"} %></li>
			<% end %>
			
			<%if("transactionCheck".eql?(selectedSubMenu)) %>
				<li><%= link_to "Check", {:action => "transactprocesscheck", :controller => "transactprocesscheck"} , :class => "current-page" %></li>		
			<% else %>
				<li><%= link_to "Check", {:action => "transactprocesscheck", :controller => "transactprocesscheck" } %></li>
			<% end %>
			
			<% if("transactionEBT".eql?(selectedSubMenu)) %>
				<li><%= link_to "EBT", {:action => "transactprocessebtcard", :controller => "transactprocessebtcard" } ,:class => "current-page" %></li>		
			<% else %>
		<li><%= link_to "EBT", {:action => "transactprocessebtcard", :controller => "transactprocessebtcard" } %></li>
			<% end %>
			
			<%if("transactionGiftCard".eql?(selectedSubMenu)) %>
        <li><%= link_to "GiftCard", {:action => "transactprocessgiftcard", :controller => "transactprocessgiftcard" } , :class => "current-page" %></li>		
			<% else %>
		<li><%= link_to "GiftCard", {:action => "transactprocessgiftcard", :controller => "transactprocessgiftcard" } %></li>
			<% end %>
			
			<%if("transactionValidCard".eql?(selectedSubMenu)) %>
            <li><%= link_to "ValidCard", {:action => "transactvalidcard", :controller => "transactvalidcard" } ,:class => "current-page" %></li>		
			<% else %>
				<li><%= link_to "ValidCard", {:action => "transactvalidcard", :controller => "transactvalidcard"} %></li>
			<% end %>
			
			<%if("transactionValidCardLength".eql?(selectedSubMenu)) %>
            <li><%= link_to "ValidCardLength", {:action => "transactvalidcardlength", :controller => "transactvalidcardlength" } , :class => "current-page" %></li>		
			<% else %>
  <li><%= link_to "ValidCardLength", {:action => "transactvalidcardlength", :controller => "transactvalidcardlength"} %></li>
			<% end %>
			
			<%if("transactionValidExpDate".eql?(selectedSubMenu)) %>
            <li><%= link_to "ValidExpDate", {:action => "transactvalidexpdate", :controller => "transactvalidexpdate" } , :class => "current-page" %></li>		
			<% else %>
	  <li><%= link_to "ValidExpDate", {:action => "transactvalidexpdate", :controller => "transactvalidexpdate" } %></li>
			<% end %>
			
			<% if("transactionValidMod10".eql?(selectedSubMenu)) %>
	        <li><%= link_to "ValidMod10", {:action => "transactvalidmod10", :controller => "transactvalidmod10" } , :class => "current-page" %></li>		
			<% else %>
				<li><%= link_to "ValidMod10", {:action => "transactvalidmod10", :controller => "transactvalidmod10"} %></li>
			<% end %>			
			<% if("customTokenSample".eql?(selectedSubMenu)) %>
	       <li><%= link_to "CustomTokenSample", {:action => "customtokensample", :controller => "customtokensample" } , :class => "current-page" %></li>		
			<% else %>
			<li><%= link_to "CustomTokenSample", {:action => "customtokensample", :controller => "customtokensample"} %></li>
			<% end %>		
		</ul>
	</div>
<% end %>	
<% if("report".eql?(selectedHeader)) %>
	<div id="subnav">
		<ul id="sidenav">
			<li>Report</li>
			<% if("getCardTrx".eql?(selectedSubMenu)) %>
    <li><%= link_to "GetCardTrx", {:action => "getcardtrx", :controller => "getcardtrx"} , :class => "current-page"  %></li>		     <% else %>
	<li><%= link_to "GetCardTrx", {:action => "getcardtrx", :controller => "getcardtrx" } %></li>
			<% end %>
			
			<%if("getCardTrxSummary".eql?(selectedSubMenu)) %>
	   <li><%= link_to "GetCardTrxSummary", {:action => "getcardtrxsummary", :controller => "getcardtrxsummary"} , :class => "current-page" %></li>		
			<% else %>
		<li><%= link_to "GetCardTrxSummary", {:action => "getcardtrxsummary", :controller => "getcardtrxsummary"} %></li>
			<% end %>
			
			<%if("getCheckTrx".eql?(selectedSubMenu)) %>
	<li><%= link_to "GetCheckTrx", {:action => "getchecktrx", :controller => "getchecktrx"} , :class => "current-page" %></li>		
			<% else %>
				<li><%= link_to "GetCheckTrx", {:action => "getchecktrx", :controller => "getchecktrx" } %></li>
			<% end %>
			
			<%if("getInfo".eql?(selectedSubMenu)) %>
	  <li><%= link_to "GetInfo", {:action => "getinfo", :controller => "getinfo"} , :class => "current-page" %></li>		
			<% else%>
				<li><%= link_to "GetInfo", {:action => "getinfo", :controller => "getinfo" } %> </li>
			<% end %>
			
			<%if("getOpenBatchSummary".eql?(selectedSubMenu)) %>
				<li><%= link_to "GetOpenBatchSummary", {:action => "getopenbatchsummary", :controller => "getopenbatchsummary"} , :class => "current-page" %></li>		
			<% else %>
	<li><%= link_to "GetOpenBatchSummary", {:action => "getopenbatchsummary", :controller => "getopenbatchsummary" } %></li>
			<% end %>
		</ul>
	</div>
<% end %>
