<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<script type="text/javascript" src="script/common.js"></script>
<%= stylesheet_link_tag "main"   %>
</head>
<body>
<div id="container">
     <%=render :partial => "header/header" , :locals => { :selectedHeader => "transaction" ,:selectedSubMenu => "transactionDebit"} %>
	<div id="content">
		<h1>Process Debit Card</h1>
		  <%= form_for :post , url: { action: :processdebitcard } do |f| %>
			<table cellpadding="5" cellspacing="5">
				<tr>	
					<td colspan="2">
						&nbsp;
					</td>						
				</tr>
				<tr>
					<td style="width: 50%;">
						URL
					</td>
					<td>
						<select name="URL_MODE" class="combo_width">
							<option value="uat">UAT</option>
							<option value="production">Production</option>
					       </select>
					</td>
				</tr>
				  <tr>
					<td style="width: 50%;">
						Transaction Type
					</td>
					<td>
						<select name="transType" class="combo_width">
							<option value="Sale">Sale</option>							
							<option value="Return">Return</option>							
						</select>
					</td>
				</tr>
				<tr>	
					<td>
						Card Num
					</td>
					<td>
						<input type="text" name="cardNum"/>
					</td>			
				</tr>
				
				<tr>	
					<td>
						Exp Date
					</td>
					<td>
						<input type="text" name="expDate"/>
					</td>			
				</tr>
				
				<tr>	
					<td>
						Mag Data
					</td>
					<td>
						<input type="text" name="magData"/>
					</td>			
				</tr>
				
				<tr>	
					<td>
						Name On Card
					</td>
					<td>
						<input type="text" name="nameOnCard" />
					</td>			
				</tr>
				
				<tr>	
					<td>
						Amount
					</td>
					<td>
						<input type="text" name="total" />
					</td>			
				</tr>
				
				<tr>	
					<td>
						Inv Number
					</td>
					<td>
						<input type="text" name="ticketNumber"/>
					</td>			
				</tr>
				
				<tr>	
					<td>
						Ref Number
					</td>
					<td>
						<input type="text" name="refNum"/>
					</td>			
				</tr>
				
				<tr>	
					<td>
						Pin
					</td>
					<td>
						<input type="text" name="pin"/>
					</td>			
				</tr>
				
				<tr>	
					<td>
						Sure Charge Amount
					</td>
					<td>
						<input type="text" name="sureChargeAmt"/>
					</td>			
				</tr>
				
				<tr>	
					<td>
						Cash Back Amount
					</td>
					<td>
						<input type="text" name="cashBackAmt"/>
					</td>			
				</tr>
				
				<tr>	
					<td>
						Register Num
					</td>
					<td>
						<input type="text" name="registerNum" />
					</td>			
				</tr>
				
				<tr>	
					<td>
						Ext Data
					</td>
					<td>
						<input type="text" name="extData"/>
					</td>			
				</tr>				
				
				<tr>	
					<td colspan="2">&nbsp;</td>
				</tr>
				<tr>	
					<td colspan="2">
						<input value="OK" type="submit" class="submit"/>					
					</td>						
				</tr>
			</table>
		<% end %>
		 <%=render :partial => "webserviceresponse/webserviceresponse", :locals => { :resp => @resp } %>
	</div>
	<!-- content div ends here -->
	<div class="clearfix"></div>
</div>
<!-- container div ends here -->
<%=render :partial => "footer/footer" %>
</body>
</html>
